<ion-view view-title="Carrinho">
    <ion-content>
        <div class="list">
              <div class="item item-divider">
               <div class="row">  
                <div class="col-90">
                      Chromebook Samsung 13'
                </div> 
                <div class="col-10" style="color:red">
                  Excluir
                </div>
              </div>
            </div>

              <div class="item item-thumbnail-left">
                 <img src="http://s2.glbimg.com/SKM_VsXziqWwpFWVScxIFSaJk-U=/695x0/s.glbimg.com/po/tt2/f/original/2017/03/20/samsung_chromebook2_defegk.jpg">
                 <div class="row">
                    <div class="col-75">
                      <p style="white-space:normal;">Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo!</p> 
                    </div> 
                    <div class="col">
                      <span class="item-note">
                      <span class="badge badge-balanced" style="position:inherit;">R$ 899,00</span>  
                          <button class="button button-small button button-clear button-positive">
                              -
                          </button>
                      <input type="number" value="1" style="width:20px; text-align:center; display:inline-block"> 
                          <button class="button button-small button button-clear button-positive">
                              +
                          </button>
                          
                    </span>
                 </div>
                </div>
              </div>
        
        <div class="item item-divider">
            <div class="row">  
             <div class="col-90">
                   Chromebook Samsung 13'
             </div> 
             <div class="col-10" style="color:red">
               Excluir
             </div>
           </div>
         </div>

           <div class="item item-thumbnail-left">
              <img src="http://s2.glbimg.com/SKM_VsXziqWwpFWVScxIFSaJk-U=/695x0/s.glbimg.com/po/tt2/f/original/2017/03/20/samsung_chromebook2_defegk.jpg">
              <div class="row">
                 <div class="col-75">
                   <p style="white-space:normal;">Mussum Ipsum, cacilds vidis litro abertis. Todo mundo vê os porris que eu tomo!</p> 
                 </div> 
                 <div class="col">
                   <span class="item-note">
                   <span class="badge badge-balanced" style="position:inherit;">R$ 899,00</span>  
                       <button class="button button-small button button-clear button-positive">
                           -
                       </button>
                   <input type="number" value="1" style="width:20px; text-align:center; display:inline-block"> 
                       <button class="button button-small button button-clear button-positive">
                           +
                       </button>
                       
                 </span>
              </div>
             </div>
           </div>
     </div>
    </div>
    </ion-content>
  </ion-view>
  